!.gitkeep

.DS_Store
thumbs.db

dist/electron/*
dist/web/*

build/*
!build/background.png
!build/icons
build/target/*
!build/target/.gitkeep
!build/entitlements.mac.inherit.plist

node_modules/

npm-debug.log
npm-debug.log.*
yarn-error.log

__tests__/*/.coverage

plugins/*

# Apple Notarisation
private_keys
*.p8
.env
